   <!-- <link rel="stylesheet" href="/css/user_profile.css"> -->
   <h1> <%=user.name%>'s <%= title %> Page</h1>
   
   <div>
      <div id="image">
         <img src="/images/profile_image.jpg" alt="<%= user.name%>_Profile_Image">
      </div>
      <p> <%= user.name%> </p>
      <p> <%= user.email%> </p>
   </div>